<div class="panel panel-success">
  <div class="panel-heading">
    <h4 class="panel-title">Supporting the site</h4>
  </div>
  <div class="panel-body">
    <p><small>If you like the tutorials, or are using any of the apps from this site, please consider becoming a patreon or making a donation to support our efforts and help keeping the site online.</small></p>
    {% include support-icons.html %}
    <p><small>Published with <a href="http://pages.github.com">GitHub Pages</a>. Bootstrap theme: <a href="http://bootswatch.com/sandstone/">Sandstone</a>.</small></p>
    {% include social-icons.html %}
  </div>
</div>
