<div class="well">
  <h4>About</h4>
  <p><small>DroboPorts.com hosts HOWTOs and ready-to-install versions of apps ported to the <a href="http://www.drobo.com/documentation/">DroboFS</a> and <a href="http://www.drobo.com/storage-products/5n/">Drobo5N</a> from Drobo, Inc.</small></p>
  <p><small>In other words, I just really like my FS and 5N, and I want to make the most out of both. If you are a Drobo FS/5N owner, then please, have a look around and find out how to get more out of that cool looking black box.</small></p>
  <p><small>For more DroboApps, check the <a href="http://www.drobo.com/drobo-solutions/drobo-apps/">official DroboApp repository</a>.</small></p>
  <p><small>For more unofficial DroboApps and other DroboFS tips, check <a href="http://drobo.jhah.net/">jhah's Drobo site</a>.</small></p>
  <h4>Supporting the site</h4>
  <p><small>If you like the tutorials, or are using any of the apps from this site, please consider becoming a patreon or making a donation to support our efforts and help keeping the site online.</small></p>
  <div class="row">
  {% include svg-icons.html %}
  </div>
  <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
</div>