<h3>Latest updates</h3>
<div class="row">
  {% for post in site.posts limit:4 %}
  <div class="col-xs-6 col-sm-3">
    <div class="well app">
      <h4>{{ post.title }}</h4>
      <p class="text-center"><img class="img-rounded" height="64" src="{{post.avatar}}" /></p>
      <p>{{ post.description }}</p>
      <p class="text-right"><a class="btn btn-success" href="{{ site.baseurl }}{{ post.url }}">See app &raquo;</a></p>
    </div>
  </div>
  {% endfor %}
</div>
<div class="panel">
  <p class="text-right"><a class="btn btn-success" href="{{ site.baseurl }}/app-repository">See more &raquo;</a></p>
  <p>To receive notifications about the latest DroboApp releases and news, circle DroboPorts on <a href="https://plus.google.com/+Droboports">Google Plus</a>.</p>
</div>
