---
layout: default
---

<h2>{{ page.title }}</h2>

<p>{{ page.description }}</p>

{% assign repo = (site.data.repos | where: "name", page.appname | first) %}
<p class="text-right"><a class="btn btn-primary" href="{{ repo.html_url }}">Github project</a> {% if page.website %}<a class="btn btn-success" href="{{ page.website }}">Website &raquo;</a>{% endif %}</p>

<h3>Drobo5N releases</h3>

{% assign releases = (site.data[page.appname] | where: "target_commitish", "master") %}
{% include widget/release-accordion.html accordion="accordion5n" items=releases %}

<h3>DroboFS releases</h3>

{% assign releases = (site.data[page.appname] | where: "target_commitish", "drobofs") %}
{% include widget/release-accordion.html accordion="accordionfs" items=releases %}
